@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.containerCss {
  display: grid;
  grid-template-areas: "list" "pagination";
}

.listCss {
  grid-area: list;

  @media (min-width: breakpoints.$desktop) {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 calc(-1 * var(--layout-grid-margin));
    padding: layout.$spacer-7 0;
  }

  @media (min-width: breakpoints.$max) {
    margin: 0 -1 * layout.$spacer-4 0 calc(-1 * var(--layout-grid-margin));
    padding-top: 0;
  }
}

.listItemCss {
  &:nth-child(even) {
    background-color: var(--color-bg-subtle);
  }

  display: grid;
  grid-template-areas: ". article .";
  grid-template-columns:
    minmax(var(--layout-grid-margin), 1fr) minmax(auto, 768px)
    minmax(var(--layout-grid-margin), 1fr);

  @media (min-width: breakpoints.$desktop) {
    display: flex;
    padding: layout.$spacer-7 layout.$spacer-8;

    &:first-of-type {
      padding-top: 0;
    }
  }

  @media (min-width: breakpoints.$max) {
    padding-right: layout.$spacer-5;
  }
}

.reviewCss {
  display: grid;
  grid-area: article;
  grid-template-areas: "." "date" "image" "header" "body" ".";
  grid-template-columns: 1fr;
  grid-template-rows: layout.$spacer-4 auto auto auto 1fr layout.$spacer-6;
  justify-items: center;
  position: relative;

  @media (min-width: breakpoints.$tablet) {
    column-gap: layout.$spacer-8;
    grid-template-areas: ". ." "date header" "image header " "image body" ". .";
    grid-template-columns: auto 1fr;
    grid-template-rows: layout.$spacer-4 auto auto 1fr layout.$spacer-6;
    justify-items: unset;
    width: 100%;
  }

  @media (min-width: breakpoints.$desktop) {
    column-gap: layout.$spacer-8;
    grid-template-areas: "date image header " ". image body" ". . .";
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;
  }
}

.imageLinkCss {
  align-self: flex-start;
  border: solid layout.$spacer-2 var(--color-border-default);
  display: block;
  grid-area: image;
  justify-self: flex-start;
  line-height: 0;
  margin: 0 auto 4px;

  @media (min-width: breakpoints.$tablet) {
    margin-bottom: 4.5px;
  }

  @media (min-width: breakpoints.$max) {
    margin-bottom: 1.75px;
    margin-bottom: 32px;
  }
}

.reviewHeaderCss {
  align-self: flex-start;
  display: grid;
  grid-area: header;
  grid-template-areas: "kind" "heading" "credits" "." "grade";
  grid-template-rows: auto auto auto layout.$spacer-3 auto;
  justify-content: center;
  justify-items: center;

  @media (min-width: breakpoints.$tablet) {
    justify-content: unset;
    justify-items: unset;
  }
}

.articleHeadingCss {
  font-size: 26px;
  font-weight: 700;
  grid-area: heading;
  line-height: 32px;

  a {
    display: inline-block;
  }

  @media (min-width: breakpoints.$desktop) {
    font-size: 30px;
    margin-top: layout.$spacer-3;
  }
}

.articleFooterCss {
  align-items: center;
  grid-area: date;
  line-height: layout.$spacer-8;

  a {
    color: var(--color-fg-accent);
  }

  @media (min-width: breakpoints.$tablet) {
    margin-left: layout.$spacer-2;
  }

  @media (min-width: breakpoints.$desktop) {
    line-height: normal;
    margin-left: 0;
    margin-top: layout.$spacer-2;
  }
}

.dateCss {
  color: var(--color-fg-subtle);
  display: block;
  font-feature-settings: "tnum";
  font-size: 14px;
  font-weight: 300;
  grid-area: slug;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  white-space: nowrap;
}

.kindCss {
  color: var(--color-fg-subtle);
  display: block;
  font-feature-settings: "tnum";
  font-size: 14px;
  font-weight: 300;
  grid-area: kind;
  letter-spacing: 0.75px;
  line-height: layout.$spacer-8;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: breakpoints.$desktop) {
    line-height: normal;
    margin-top: layout.$spacer-2;
  }
}

.reviewCreditsCss {
  color: var(--color-fg-subtle);
  font-size: 16px;
  font-weight: 400;
  grid-area: credits;
  letter-spacing: 0.25px;
  line-height: layout.$spacer-6;
  text-align: left;

  a {
    color: var(--color-fg-accent);
  }
}

.reviewGradeCss {
  align-self: flex-start;
  grid-area: grade;
  height: layout.$spacer-5;
  width: auto;
}

.articleBodyCss {
  align-self: flex-start;
  color: var(--color-fg-muted);
  font-size: 18px;
  grid-area: body;
  margin-top: layout.$spacer-3;
  max-width: 60ch;

  p {
    line-height: 28px;
  }
}

.paginationCss {
  align-content: space-around;
  grid-area: pagination;
}

:global(.globalExcerptLinkCss) {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
}
