@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.containerCss {
  display: grid;
  grid-template-areas: ". list ." ". pagination .";
  grid-template-columns:
    minmax(var(--layout-grid-margin), 1fr) minmax(auto, 520px)
    minmax(var(--layout-grid-margin), 1fr);
  margin-top: -1px;

  @media (min-width: breakpoints.$tablet) {
    grid-template-columns:
      minmax(var(--layout-grid-margin), 1fr) auto
      minmax(var(--layout-grid-margin), 1fr);
  }

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "list" "pagination";
    grid-template-columns: unset;
  }

  @media (min-width: breakpoints.$max) {
    border-top: 0;
  }
}

.listCss {
  grid-area: list;

  @media (min-width: breakpoints.$desktop) {
    column-gap: layout.$spacer-4;
    display: grid;
    grid-template-columns: unset;
    padding-top: layout.$spacer-6;
    row-gap: layout.$spacer-6;
  }

  @media (min-width: breakpoints.$max) {
    padding-top: 0;
  }
}

.listItemCss {
  @media (min-width: breakpoints.$desktop) {
    border-bottom: 0 !important;
    display: flex;
  }

  @media (min-width: breakpoints.$max) {
    &:first-of-type {
      padding-top: 0;
    }
  }
}

.reviewCss {
  display: grid;
  grid-template-areas: "date" "image" "header" "body" "border";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  justify-items: center;
  position: relative;

  &::after {
    border-bottom: solid 1px var(--color-border-default);
    content: "";
    display: block;
    grid-area: border;
    height: layout.$spacer-6;
    justify-self: center;
    width: 100%;
  }

  @media (min-width: breakpoints.$tablet) {
    column-gap: layout.$spacer-8;
    grid-template-areas: "date header" "image header " "image body" "border border";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    justify-items: unset;
    width: 100%;
  }

  @media (min-width: breakpoints.$desktop) {
    column-gap: layout.$spacer-8;
    grid-template-areas: "date image header " ". image body" "border border border";
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;
  }
}

.imageLinkCss {
  align-self: flex-start;
  border: solid layout.$spacer-2 var(--color-border-default);
  display: block;
  grid-area: image;
  justify-self: flex-start;
  line-height: 0;
  margin: 0 auto 5px;

  @media (min-width: breakpoints.$tablet) {
    margin-bottom: 4.5px;
  }

  @media (min-width: breakpoints.$max) {
    margin-bottom: 1.75px;
    margin-bottom: 32px;
  }
}

.reviewHeaderCss {
  align-self: flex-start;
  display: grid;
  grid-area: header;
  grid-template-areas: "kind" "heading" "credits" "." "grade";
  grid-template-rows: auto auto auto layout.$spacer-3 auto;
  justify-content: center;
  justify-items: center;

  @media (min-width: breakpoints.$tablet) {
    justify-content: unset;
    justify-items: unset;
  }
}

.articleHeadingCss {
  font-size: 26px;
  font-weight: 700;
  grid-area: heading;
  line-height: 32px;

  a {
    display: inline-block;
  }

  @media (min-width: breakpoints.$desktop) {
    font-size: 30px;
    margin-top: layout.$spacer-3;
  }
}

.articleFooterCss {
  align-items: center;
  grid-area: date;
  line-height: layout.$spacer-8;

  a {
    color: var(--color-fg-accent);
  }

  @media (min-width: breakpoints.$tablet) {
    margin-left: layout.$spacer-2;
  }

  @media (min-width: breakpoints.$desktop) {
    line-height: normal;
    margin-left: 0;
    margin-top: layout.$spacer-2;
  }
}

.dateCss {
  color: var(--color-fg-subtle);
  display: block;
  font-feature-settings: "tnum";
  font-size: 14px;
  font-weight: 300;
  grid-area: slug;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  white-space: nowrap;
}

.kindCss {
  color: var(--color-fg-subtle);
  display: block;
  font-feature-settings: "tnum";
  font-size: 14px;
  font-weight: 300;
  grid-area: kind;
  letter-spacing: 0.75px;
  line-height: layout.$spacer-8;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: breakpoints.$desktop) {
    line-height: normal;
    margin-top: layout.$spacer-2;
  }
}

.reviewYearCss {
  color: var(--color-fg-subtle);
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
}

.reviewCreditsCss {
  // color: var(--color-fg-subtle);
  color: var(--color-fg-accent);
  font-size: 16px;
  font-weight: 400;
  grid-area: credits;
  letter-spacing: 0.25px;
  line-height: layout.$spacer-6;
  text-align: left;

  // text-transform: uppercase;
}

.reviewGradeCss {
  align-self: flex-start;
  grid-area: grade;
  height: layout.$spacer-5;
  width: auto;
}

.articleBodyCss {
  align-self: flex-start;
  color: var(--color-fg-muted);
  font-size: 18px;
  grid-area: body;
  margin-top: layout.$spacer-3;
  max-width: 60ch;

  p {
    line-height: 28px;
  }
}

.watchlistLinksCss {
  display: contents;
}

.paginationCss {
  align-content: space-around;
  grid-area: pagination;
}

:global(.globalExcerptLinkCss) {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
}
