---
import { getCollection } from "astro:content";

import LongFormText from "~/components/astro/long-form-text/LongFormText.astro";
import MoreReviews from "~/components/astro/more-reviews/MoreReviews.astro";
import { linkReviewedTitles } from "~/utils/linkReviewedTitles";
import { mostRecentReviewedTitles } from "~/utils/mostRecentReviewedTitles";

type Props = {
  content: string | undefined;
};

const { content } = Astro.props;
const recentReviewedWorks = await mostRecentReviewedTitles(6);
const reviewedTitles = await getCollection("reviewedTitles");
---

<section class="flex flex-col items-center pt-16 pb-32">
  <div class="px-container">
    <LongFormText
      class={`max-w-prose`}
      text={linkReviewedTitles(
        content,
        reviewedTitles.map((e) => e.id),
      )}
    />
  </div>
</section>
<div
  class={`
    flex w-full flex-col items-center gap-y-12 bg-subtle pt-16 pb-32
    tablet:pt-8
    desktop:gap-y-24
  `}
  data-pagefind-ignore
>
  <MoreReviews
    cardProps={recentReviewedWorks.map((review) => {
      return {
        hasDate: false,
        value: review.data,
      };
    })}
    headingProps={{
      accentText: "Reviews",
      href: `/reviews/`,
      text: "Recent",
    }}
  />
</div>
