---
import { getEntry } from "astro:content";

import { getFluidCoverImageProps } from "~/assets/covers";
import HeroLayout from "~/components/layout/HeroLayout.astro";
import { ReviewCard } from "~/components/review-card/ReviewCard";
import SubHeading from "~/components/sub-heading/SubHeading.astro";
import { mostRecentReviewedTitles } from "~/utils/mostRecentReviewedTitles";

const deck = "Literature is a relative term.";
const metaDescription =
  "Quality reviews of current, cult, classic, and forgotten books, short stories, and non-fiction. Literature is a relative term.";

const reviewedWorks = await mostRecentReviewedTitles(12);

const coverImageSizes =
  "(min-width: 1800px) 178px, (min-width: 1320px) 9.78vw, (min-width: 1280px) calc(-350vw + 4680px), (min-width: 1240px) calc(10vw + 7px), (min-width: 1060px) 200px, (min-width: 800px) 19.17vw, (min-width: 540px) 200px, calc(37.27vw + 6px)";
---

<HeroLayout
  baseLayoutProps={{
    canonical: true,
    meta: {
      description: metaDescription,
    },
    openGraph: { description: deck, type: "website" },
    title: "Frank's Book Log",
  }}
  heroProps={{
    backdropSlug: "home",
    deck,
    title: "Frank's Book Log",
  }}
  hideLogo={true}
>
  <div class="bg-subtle pb-8">
    <nav
      class={`
        @container/card-list mx-auto max-w-(--breakpoint-desktop) px-container
      `}
    >
      <SubHeading level="h2">Latest Reviews</SubHeading>
      <ol
        class={`
          -mx-4 grid grid-rows-[auto_1fr] gap-x-[3%] gap-y-8
          @min-[700px]/card-list:grid-cols-2
        `}
      >
        {
          await Promise.all(
            reviewedWorks.map(async ({ data: reviewedTitle }) => {
              const { data: review } = await getEntry(reviewedTitle.review);
              return (
                <ReviewCard
                  value={{
                    authors: reviewedTitle.authors,
                    coverImageProps: await getFluidCoverImageProps(review.slug),
                    coverImageSizes,
                    date: review.date,
                    excerptHtml: review.excerptHtml,
                    grade: review.grade,
                    kind: reviewedTitle.kind,
                    slug: review.slug,
                    title: reviewedTitle.title,
                    titleYear: reviewedTitle.titleYear,
                  }}
                />
              );
            }),
          )
        }
      </ol>
      <div
        class={`
          flex px-container py-10
          has-[a:hover]:drop-shadow-lg
        `}
      >
        <a
          class={`
            group/all-reviews mx-auto w-full max-w-button transform-gpu
            rounded-md bg-default pt-5 pb-4 text-center font-sans text-sm
            font-bold tracking-wide text-accent uppercase transition-all
            hover:scale-105 hover:bg-accent hover:text-inverse
          `}
          href="/reviews/"
        >
          <span
            class={`
              relative inline-block pb-1
              after:absolute after:bottom-0 after:left-0 after:h-0.5
              after:w-full after:origin-center after:scale-x-0
              after:transform-gpu after:bg-(--color-inverse)
              after:transition-transform after:duration-500
              group-hover/all-reviews:after:scale-x-100
            `}
          >
            All Reviews
          </span>
        </a>
      </div>
    </nav>
  </div>
</HeroLayout>
