---
import { formatWorkAuthors } from "~/utils/formatWorkAuthors";

type Props = {
  values: Parameters<typeof formatWorkAuthors>[0];
};

const { values } = Astro.props;
---

<div class={`text-[15px]/4 font-normal tracking-prose text-muted`}>
  {formatWorkAuthors(values)}
</div>
