---
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

import { getFluidCoverImageProps } from "~/assets/covers";
import LongFormText from "~/components/long-form-text/LongFormText.astro";
import MoreReviews from "~/components/more-reviews/MoreReviews.astro";
import { linkReviewedTitles } from "~/utils/linkReviewedTitles";
import { mostRecentReviewedTitles } from "~/utils/mostRecentReviewedTitles";

type Props = {
  content: string | undefined;
};

const { content } = Astro.props;
const recentReviewedTitles = await mostRecentReviewedTitles(6);
const reviewedTitles = await getCollection("reviewedTitles");
---

<section class="flex flex-col items-center pt-16 pb-32" data-pagefind-ignore>
  <div class="px-container">
    <LongFormText
      class={`max-w-prose`}
      text={linkReviewedTitles(
        content,
        reviewedTitles.map((e) => e.id),
      )}
    />
  </div>
</section>
<div
  class={`
    flex w-full flex-col items-center gap-y-12 bg-subtle pt-16 pb-32
    tablet:pt-8
    desktop:gap-y-24
  `}
  data-pagefind-ignore
>
  <MoreReviews
    cardProps={await Promise.all(
      recentReviewedTitles.map(async ({ data: reviewedTitle }) => {
        const { data: review } = await getEntry(reviewedTitle.review);
        return {
          value: {
            coverImageProps: await getFluidCoverImageProps(review.slug),
            excerptHtml: review.excerptHtml,
            grade: review.grade,
            kind: reviewedTitle.kind,
            slug: review.slug,
            title: reviewedTitle.title,
            titleYear: reviewedTitle.titleYear,
          },
        };
      }),
    )}
    headingProps={{
      accentText: "Reviews",
      href: `/reviews/`,
      text: "Recent",
    }}
  />
</div>
