---
import SiteHierarchy from "./SiteHierarchy.astro";

export type Props = { hasBackdrop: boolean };

const { hasBackdrop } = Astro.props;
---

<div
  class={`
    invisible fixed inset-0 bg-[rgba(0,0,0,.4)] opacity-0 transition-opacity
    duration-200
    [body.nav-open_&]:tablet:visible [body.nav-open_&]:tablet:z-nav-backdrop
    [body.nav-open_&]:tablet:opacity-100
  `}
  data-nav-drawer-backdrop
>
</div>
<button
  aria-controls="nav-drawer"
  aria-expanded="false"
  aria-label="Toggle navigation drawer"
  class={`
    group/button relative z-nav-toggle ml-2 flex size-10 transform-gpu
    cursor-pointer items-center justify-center transition-all duration-500
    laptop:hidden
  `}
  data-nav-drawer-toggle
  type="button"
>
  <span
    aria-hidden="true"
    class={`
      relative flex h-0.5 w-6 origin-center transform-gpu transition-all
      duration-200 ease-in-out
      group-hover/button:bg-accent
      before:absolute before:-top-2 before:block before:h-0.5 before:w-6
      before:bg-inherit before:transition before:duration-200 before:ease-in-out
      after:absolute after:-bottom-2 after:block after:h-0.5 after:w-6
      after:bg-inherit after:transition after:duration-200 after:ease-in-out
      [body.nav-open_&]:transform-[rotate(45deg)]
      [body.nav-open_&]:bg-(--color-default)
      [body.nav-open_&]:group-hover/button:bg-accent
      [body.nav-open_&]:before:top-0
      [body.nav-open_&]:before:transform-[rotate(90deg)]
      [body.nav-open_&]:after:bottom-0
      [body.nav-open_&]:after:transform-[rotate(90deg)]
      ${hasBackdrop ? "bg-white" : "bg-(--color-default)"}
    `}></span>
</button>
<nav aria-label="Main navigation">
  <div
    class={`
      invisible fixed top-0 right-0 h-full w-0 transform-[translateX(100%)]
      overflow-hidden bg-canvas text-left text-default opacity-0 duration-200
      ease-in-out
      tablet:max-w-[35vw]
      laptop:max-w-[25vw]
      [body.nav-open_&]:visible [body.nav-open_&]:bottom-0
      [body.nav-open_&]:z-nav-drawer [body.nav-open_&]:size-full
      [body.nav-open_&]:transform-[translateX(0)]
      [body.nav-open_&]:overflow-y-auto [body.nav-open_&]:pt-20
      [body.nav-open_&]:pr-[16%] [body.nav-open_&]:pb-5
      [body.nav-open_&]:pl-[12%] [body.nav-open_&]:opacity-100
      [body.nav-open_&]:drop-shadow-2xl
      [body.nav-open_&]:tablet:px-10 [body.nav-open_&]:tablet:pt-40
      [body.nav-open_&]:laptop:px-20
    `}
    data-nav-drawer
    id="nav-drawer"
  >
    <SiteHierarchy />
  </div>
</nav>
