---
type Props = {
  slug?: string;
  title: string;
};

const { slug, title } = Astro.props;
---

{
  slug ? (
    <a
      class={`
        text-base/5 font-semibold text-default transition-all duration-500
        after:absolute after:top-0 after:left-0 after:z-sticky after:size-full
        after:opacity-0
        hover:text-accent
      `}
      href={`/reviews/${slug}/`}
    >
      {title}
    </a>
  ) : (
    <span class={`block text-base/5 font-semibold text-subtle`}>{title}</span>
  )
}
