---
import { formatTitleAuthors } from "~/utils/formatTitleAuthors";

type Props = {
  values: Parameters<typeof formatTitleAuthors>[0];
};

const { values } = Astro.props;
---

<div class={`text-[15px]/4 font-normal tracking-prose text-muted`}>
  {formatTitleAuthors(values)}
</div>
