---
import { Article } from "src/components/Article/Article";
import { getProps } from "src/components/Article/getProps";
import Layout from "src/layouts/Layout.astro";

const slug = "how-i-grade";

const props = await getProps({
  slug,
  deck: `"A work of art is never completed, only abandoned."`,
});
---

<Layout
  title={props.title}
  description="The criteria I use to rate books on this site."
  article
>
  <div data-pagefind-body>
    <Article {...props} />
  </div>
</Layout>
