@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.containerCss {
  display: grid;
  grid-template-areas: ". header ." ". reviews ." ". related .";
  grid-template-columns:
    minmax(var(--layout-grid-margin), 1fr) minmax(auto, 520px)
    minmax(var(--layout-grid-margin), 1fr);
  grid-template-rows: auto;
  justify-content: space-between;
  margin: 3rem auto 0;

  @media (min-width: breakpoints.$tablet) {
    grid-template-areas: "header header header" ". reviews ." ". related .";
  }

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "header" "reviews" "related";
    grid-template-columns: 1fr;
    grid-template-rows: none;
    max-width: unset;
    row-gap: 3rem;
  }

  @media (min-width: breakpoints.$max) {
    margin-top: 0;
  }
}

.reviewGradeCss {
  display: block;
  height: 32px;
  margin: 0 auto;
  width: auto;

  @media (min-width: breakpoints.$desktop) {
    height: 20px;
    margin: 0 1ch 0 0;
  }
}

.reviewsListItemCss {
  position: relative;
}

.reviewCss {
  @media (min-width: breakpoints.$desktop) {
    align-items: start;
    display: grid;
    grid-template-areas: "slug . meta" "review . meta";
    grid-template-columns: minmax(auto, 550px) layout.$spacer-10 1fr;
    grid-template-rows: auto 1fr;
    max-width: unset;
    padding: 0;
    text-align: left;
  }
}

.reviewsListCss {
  grid-area: reviews;
  padding-top: layout.$spacer-4;

  @media (min-width: breakpoints.$desktop) {
    border-top: 1px solid var(--color-border-default);
    padding-top: layout.$spacer-6 - 1;
  }
}

.reviewsListItemCss:not(:first-child) .reviewGradeCss {
  height: 24px;
  margin-top: layout.$spacer-5;

  @media (min-width: breakpoints.$desktop) {
    height: 18px;
    margin: 0 1ch 0 0;
  }
}

.reviewsListItemCss:not(:first-child) {
  padding-top: layout.$spacer-5;
  position: relative;

  @media (min-width: breakpoints.$desktop) {
    padding-top: layout.$spacer-9;
  }
}

.reviewsListItemCss:not(:first-child)::after {
  background-color: var(--color-bg-default);
  content: url("/assets/film-icon.svg");
  display: block;
  height: layout.$spacer-3;
  left: calc(50% - layout.$spacer-4);
  padding: 0 layout.$spacer-3;
  position: absolute;
  top: layout.$spacer-4;
  width: layout.$spacer-7;
  z-index: 100;
}

.reviewsListItemCss:not(:first-child)::before {
  border-top: solid 1px var(--color-border-default);
  content: " ";
  height: 1px;
  left: 25%;
  position: absolute;
  top: calc(layout.$spacer-5 - 1px);
  width: 50%;
}

.reviewDateIconCss {
  display: none;
}

.slugContainerCss {
  font-feature-settings: "tnum";
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: layout.$spacer-4;
  text-align: center;

  @media (min-width: breakpoints.$desktop) {
    align-items: center;
    display: flex;
    grid-area: slug;
    text-align: left;
  }
}

.slugOnCss {
  color: var(--color-fg-subtle);
  display: block;
  margin: 0 auto;

  @media (min-width: breakpoints.$desktop) {
    display: inline;
  }
}

.slugDateCss {
  color: var(--color-fg-subtle);
  display: block;
  font-weight: 700;
  margin: 0 auto;

  @media (min-width: breakpoints.$desktop) {
    display: inline;
  }
}

.coverCss {
  grid-area: cover;
  justify-self: center;
}

.headerTitleCss {
  font-size: 32px;
  grid-area: title;
  line-height: layout.$spacer-5;

  @media (min-width: breakpoints.$desktop) {
    font-size: 36px;
    line-height: layout.$spacer-6;
  }
}

.headerAuthorCss {
  font-size: 18px;
  grid-area: author;
}

.headerYearCss {
  color: var(--color-fg-subtle);
  font-size: 16px;
  grid-area: year;
}

.headerKindCss {
  color: var(--color-fg-subtle);
  font-size: 14px;
  grid-area: kind;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.headerContainerCss {
  display: grid;
  grid-area: header;
  grid-template-areas: "cover" "title" "author" "kind" "year";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  max-width: unset;
  row-gap: 1rem;
  text-align: center;
  text-align: left;

  @media (min-width: breakpoints.$tablet) {
    grid-template-areas: ". cover . title ." ". cover . author ." ". cover . kind ." ". cover . year ." ". cover . . .";
    grid-template-columns: minmax(var(--layout-grid-margin), 1fr) 250px layout.$spacer-6 auto minmax(
        var(--layout-grid-margin),
        1fr
      );
    justify-items: unset;
  }

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "cover . title" "cover . author" "cover . kind" "cover . year" "cover . .";
    grid-template-columns: 250px layout.$spacer-6 1fr;
    grid-template-rows: auto;
    max-width: unset;
    padding: 0;
    row-gap: 1rem;
    text-align: left;
  }
}

.reviewContentCss {
  margin-top: layout.$spacer-5;

  @media (min-width: breakpoints.$desktop) {
    grid-area: review;
    margin-top: layout.$spacer-3;
    position: relative;
  }
}

.reviewMetaCss {
  background-color: var(--color-bg-subtle);
  grid-area: meta;
  margin: layout.$spacer-7 0;
  padding: layout.$spacer-2 layout.$spacer-6 layout.$spacer-6;

  @media (min-width: breakpoints.$desktop) {
    align-self: flex-start;
    margin: unset;
  }
}

.termCss {
  font-weight: 700;
  line-height: layout.$spacer-4;
  margin-top: layout.$spacer-4;
}

.readingTimeContainerCss {
  font-feature-settings: "tnum";
}

.progressContainerCss {
  line-height: layout.$spacer-4;
  margin-top: layout.$spacer-4;
}

.progressMilestoneCss {
  font-weight: 700;
}

.authorLinkCss {
  color: var(--color-fg-accent);
}
