---
type Props = {
  kind: string;
  year: string;
};

const { kind, year } = Astro.props;
---

<div class={`font-sans text-[13px]/4 tracking-prose text-subtle`}>
  <span>{kind} | </span>
  {year}
</div>
