---
import { Article } from "src/components/Article/Article";
import { getProps } from "src/components/Article/getProps";
import Layout from "src/layouts/Layout.astro";

const slug = "how-i-grade";
const deck = `"A work of art is never completed, only abandoned."`;

const props = await getProps({
  slug,
  deck,
});
---

<Layout
  title={props.title}
  description={deck}
  image="/how-i-grade/og.jpg"
  article
>
  <div data-pagefind-body>
    <Article {...props} />
  </div>
</Layout>
