---
import AstroPageShell from "~/astro/AstroPageShell.astro";
import { getLayoutBackdropImageProps } from "~/components/layout/getLayoutBackdropImageProps";
import { Layout } from "~/components/layout/Layout";

const backdropImageProps = await getLayoutBackdropImageProps("not-found");
const deck = '"I simply am not there."';
---

<AstroPageShell
  canonical={false}
  meta={{ description: deck }}
  openGraph={false}
  title="404: Not Found"
>
  <Layout
    backdrop={{
      backdropImageProps,
      centerText: true,
      deck,
      size: "large",
      title: "404 Not Found",
    }}
    className="bg-subtle"
  >
    <span></span>
  </Layout>
</AstroPageShell>
