---
import type { ComponentProps } from "astro/types";

import { ReviewCard } from "~/components/review-card/ReviewCard";

import MoreReviewsHeading from "./MoreReviewsHeading.astro";

type Props = {
  cardProps: {
    value: Omit<ComponentProps<typeof ReviewCard>["value"], "coverImageSizes">;
  }[];
  headingProps: ComponentProps<typeof MoreReviewsHeading>;
};

const { cardProps, headingProps } = Astro.props;

const coverImageSizes =
  "(min-width: 1800px) 182px, (min-width: 1280px) 10.4vw, (min-width: 1180px) calc(12.5vw - 22px), (min-width: 1080px) 200px, (min-width: 1040px) 180px, (min-width: 580px) 200px, calc(37.69vw - 11px)";
---

<nav
  class={`
    mx-auto w-full max-w-[894px] bg-subtle px-container
    min-[1080px]:max-w-(--breakpoint-desktop)
  `}
  data-page-find-ignore
>
  <MoreReviewsHeading {...headingProps} />
  <div
    class={`
      @container/card-list mx-auto
      tablet:-mx-6
    `}
  >
    <ol
      class={`
        grid flex-wrap gap-8
        tablet-landscape:grid-cols-2
      `}
    >
      {
        cardProps.map((props) => {
          return <ReviewCard value={{ ...props.value, coverImageSizes }} />;
        })
      }
    </ol>
  </div>
</nav>
