---
import Grade from "~/components/astro/grade/Grade.astro";

type Props = { grade: string };

const { grade } = Astro.props;
---

{
  grade === "Abandoned" ? (
    <div
      class={`
        rounded-sm bg-abandoned px-2 py-1 font-sans text-xxs font-bold
        tracking-prose text-inverse uppercase
      `}
    >
      Abandoned
    </div>
  ) : (
    <Grade classNames="-mb-0.5 pb-[3px]" height={15} value={grade} />
  )
}
